* {
  font-family: "Poppins", sans-serif;
  letter-spacing: 0.5px;
}
* ::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  cursor: none;
}
* ::-webkit-scrollbar-track {
  background-color: rgba(212, 212, 212, 0.4);
  border-radius: 10px;
}
* ::-webkit-scrollbar-thumb {
  background-color: #3d415d;
  border-radius: 10px;
}

@media (min-width: 768px) {
  body {
    cursor: none !important;
  }
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

p {
  font-size: 16px;
  word-wrap: break-word;
  line-height: 1.6;
  font-weight: lighter;
  letter-spacing: 0px;
  color: #202020;
}

input, button, textarea {
  outline: none !important;
  box-shadow: none !important;
}

img {
  max-width: 100%;
  height: auto;
  position: relative;
}

::selection {
  color: #fff;
  background: #3d415d;
}

.fw-500 {
  font-weight: 500;
}

.fs-07 {
  font-size: 0.7rem;
}

.fs-08 {
  font-size: 0.8rem;
}

.fs-09 {
  font-size: 0.9rem;
}

.title_wrap {
  padding-bottom: 30px;
}
.title_wrap h1 {
  color: #202020;
  font-weight: bold;
  text-transform: capitalize;
  padding: 20px 0px 10px 0px;
  margin: 0;
}
.title_wrap span {
  font-size: 18px;
  font-weight: 500;
}

@media (min-width: 992px) {
  .title_wrap h1 {
    font-size: 3rem;
  }
}
@media (max-width: 992px) {
  p {
    font-size: 15px;
    line-height: normal;
  }
}
.swiper {
  width: 100%;
  margin: auto;
}
.swiper .swiper-slide {
  background-size: cover;
  background-position: center;
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.swiper .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.mainBtn {
  width: 250px;
  text-align: center;
  overflow: hidden;
  background: #202020;
  position: relative;
  border: 1px solid #202020;
  padding: 15px 0px;
  font-size: 13px;
  text-transform: uppercase;
  color: #fff;
}
.mainBtn::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  transform: translateX(-100%);
  background: #f8f9fa;
  transition: transform 0.25s ease-in;
}
.mainBtn:hover {
  cursor: pointer;
  color: #202020;
}
.mainBtn:hover::before {
  transform: translateX(0);
}
.mainBtn:hover span {
  animation: animButtonSpan 0.4s;
}
.mainBtn span {
  position: relative;
  z-index: 1;
  display: block;
}

@keyframes animButtonSpan {
  0% {
    transform: translateX(0);
    opacity: 1;
  }
  35% {
    transform: translateX(20px);
    opacity: 0;
  }
  50.001% {
    transform: translateX(-20px);
  }
  60% {
    transform: translateX(0);
  }
}
@media (min-width: 1199.98px) and (max-width: 1399.98px) {
  .wrapper {
    padding: 130px 70px;
  }
}
@media (min-width: 1400px) {
  .wrapper {
    padding: 150px 100px;
  }
}
section.newsletter {
  padding: 100px 0px;
  background-image: url(../img/global/newsletter_bg.png);
  background-size: cover;
}
section.newsletter .input-group input {
  padding: 10px;
  width: 400px;
  max-width: 100%;
  color: #fff !important;
  border-radius: 0;
  border-style: solid;
  border-width: 2.5px;
  border-color: #fff;
  background: transparent;
}
section.newsletter .input-group input::placeholder {
  color: #fff;
}
section.newsletter .input-group input:focus {
  background: transparent;
}
section.newsletter .input-group a {
  width: 100px;
  font-size: 13px;
  background: #4965ad;
  color: #fff;
  border: 1px solid #4965ad;
  position: absolute;
  right: 6px;
  top: 7.5px;
  text-transform: uppercase;
  font-weight: 500;
}

.gradient_p {
  background: -webkit-linear-gradient(90deg, #fff, #333);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.fs-10 {
  font-size: 10px;
}

.fs-11 {
  font-size: 11px;
}

.fs-12 {
  font-size: 12px;
}

.fs-13 {
  font-size: 13px;
}

.fs-14 {
  font-size: 14px;
}

.fs-15 {
  font-size: 15px;
}

.fs-16 {
  font-size: 16px;
}

.fs-17 {
  font-size: 17px;
}

.fs-18 {
  font-size: 18px;
}

.fs-19 {
  font-size: 19px;
}

.fs-20 {
  font-size: 20px;
}

header {
  transition: all 0.3s ease-in-out;
}
header .header_wrapper {
  padding: 20px 0px;
}
header .header_wrapper .nav-link {
  color: #000 !important;
  font-weight: bold;
  font-size: 0.9em;
  letter-spacing: -0.5px;
  text-transform: uppercase;
}
header .header_wrapper .nav-link:hover {
  color: #7a81b9 !important;
}
header .language .dropdown-menu {
  background: transparent;
  border: 0;
  margin: 0;
  padding: 5px 0px;
  min-width: auto;
}

.contact_header_btn {
  background: #202020;
  color: #fff;
  width: 125px;
  border-radius: 5px;
  border: 1px solid #202020;
  -webkit-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.contact_header_btn:hover {
  background: transparent;
  color: #202020;
}

@media (max-width: 1200px) {
  header .header_wrapper {
    padding: 10px;
  }

  .offcanvas-start {
    background-color: rgba(255, 255, 255, 0.95);
  }
  .offcanvas-start ul li {
    padding-bottom: 20px;
  }
}
@media (max-width: 576px) {
  .contact_header_btn {
    width: 100px;
    background: transparent;
    color: #202020;
  }
}
#cursor {
  backface-visibility: hidden;
  z-index: 1000000000;
  position: fixed;
  width: 40px;
  height: 40px;
  border: 2px solid #4570fc;
  transition: 0.1s;
  border-radius: 50%;
  pointer-events: none;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
  transition-duration: 100ms;
  transition-timing-function: ease-out;
}
#cursor::before {
  content: "";
  position: absolute;
  height: 7px;
  width: 7px;
  border-radius: 100%;
  background-color: transparent;
}

#contactUs {
  padding: 30px 20px;
}
#contactUs h5 {
  color: #d16d6d;
  font-size: 1.6rem;
  font-weight: bold;
}
#contactUs form div {
  margin: 20px 0px;
}
@media (min-width: 768px) {
  #contactUs form div {
    margin: 30px 0px;
  }
}
#contactUs form .form-control {
  background: transparent;
  border: 0;
  border-radius: 0;
  border-bottom: 1.5px solid #c2c2c2;
  color: #111111;
  font-size: 0.9rem;
  margin: 10px 0px;
  position: relative;
}
#contactUs form .form-control:focus {
  box-shadow: 0;
}
#contactUs form textarea::placeholder {
  position: absolute;
  bottom: 10px;
}
#contactUs form select {
  border: 0;
  border-bottom: 1.5px solid #c2c2c2;
  border-radius: 0;
  color: #8b8383;
}
#contactUs form select:focus {
  box-shadow: 0;
}
#contactUs .btnContact {
  background-color: #d16d6d;
  color: #fff;
  transition: all 0.3s ease-in-out;
  width: 100%;
  padding: 5px 10px;
  font-size: 14px;
  font-weight: 500;
}
#contactUs .btnContact:hover {
  background-color: #c06262;
}

footer {
  background: #f1f1f1;
}
footer .in_left ul li {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 13px;
}
footer .footer_icon_wrap a {
  padding: 5px;
  text-align: center;
}

@media (max-width: 576px) {
  p {
    font-size: 13px !important;
  }

  ul li {
    font-size: 11px !important;
  }
}
section.hero .hero_wrapper .hero_title {
  position: relative;
  font-family: "Oswald", sans-serif;
  font-weight: bold;
  z-index: 99;
}
section.hero .hero_wrapper .hero_title h1 {
  text-transform: uppercase;
  letter-spacing: 6px;
  line-height: 0.7;
}
@media (min-width: 1200px) {
  section.hero .hero_wrapper .hero_title h1 {
    font-size: 7rem;
  }
}
section.hero .hero_wrapper .hero_title div {
  width: 200px;
  max-width: 100%;
}
section.hero .hero_wrapper .swiper {
  height: 150px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
@media (min-width: 1200px) {
  section.hero .hero_wrapper .swiper {
    height: 300px;
  }
}
section.hero .hero_wrapper .swiper .swiper-slide {
  background-size: cover;
  background-position: center;
}
section.hero .hero_wrapper .swiper .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
section.hero .hero_wrapper .swiper_hero_top {
  width: 100%;
  height: 100vh;
  z-index: 1;
}
@media (min-width: 1200px) {
  section.hero .hero_wrapper .swiper_hero_top {
    height: 85vh;
  }
}
section.hero .hero_wrapper .swiper_hero_bottom_wrapper {
  position: absolute;
  bottom: 0;
  margin: auto;
  right: 0;
  max-width: 100%;
  width: 600px;
  z-index: 2;
  background: #fff;
}
@media (min-width: 1200px) {
  section.hero .hero_wrapper .swiper_hero_bottom_wrapper {
    padding: 30px 30px 0px 30px;
  }
}
section.hero .hero_wrapper .swiper_hero_bottom_wrapper .swiper_hero_bottom {
  max-width: 100%;
  box-sizing: border-box;
}
section.hero .hero_wrapper .swiper_hero_bottom_wrapper .swiper_hero_bottom .swiper-slide {
  padding: 10px 10px 0px 10px;
  width: 100%;
  height: 100%;
  opacity: 0.4;
}
section.hero .hero_wrapper .swiper_hero_bottom_wrapper .swiper_hero_bottom .swiper-slide-thumb-active {
  opacity: 1;
}
section.hero .hero_wrapper .swiper_hero_bottom_wrapper .swiper_hero_bottom .swiper-slide img {
  max-width: 100%;
  width: 300px;
}
section.hero .hero_wrapper .swiper-pagination {
  font-size: 24px;
  transform: scale(1.5);
  -webkit-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
section.hero .hero_wrapper .swiper-pagination-bullet-active {
  -webkit-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  color: #fff !important;
  background: #fff;
  transform: scale(1.7);
}
section.hero .hero_wrapper .arrow_down {
  position: absolute;
  bottom: 30px;
  left: 50px;
}

section.about .nav-link.active {
  background-color: transparent;
}
section.about .nav-link.active .about_features_inner {
  background: #3d415d;
}
section.about .nav-link.active .about_features_inner p {
  color: #fff;
}
section.about .nav-link.active .about_features_inner img {
  filter: saturate(5);
}

/* ABOUT Section */
.about_mini_info_bottom {
  background: #3d415d;
  padding: 10px;
  margin: 20px 0px;
}
@media (min-width: 768px) {
  .about_mini_info_bottom {
    padding: 40px 20px;
  }
}
@media (min-width: 768px) {
  .about_mini_info_bottom_detail {
    padding-left: 15px;
  }
}
.about_mini_info_bottom_detail h4 {
  margin: 0;
  padding: 0;
  color: #fff;
  font-weight: 500;
  line-height: normal;
}
.about_mini_info_bottom_detail span {
  margin: 0;
  padding: 0;
  font-size: 13px;
  color: #fff;
  font-style: italic;
  font-weight: lighter;
  letter-spacing: -0.5px;
}

.about_features {
  padding: 10px 0px;
}
.about_features:hover .about_features_inner {
  background: #3d415d;
}
.about_features:hover .about_features_inner p {
  color: #fff;
}
.about_features .about_features_inner {
  margin: auto;
  -webkit-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background: #f7f6f6;
  padding: 20px 0px;
  width: 220px;
  max-width: 100%;
  max-height: 190px;
}
@media (min-width: 768px) {
  .about_features .about_features_inner {
    margin: 0;
  }
}
@media (min-width: 992px) {
  .about_features .about_features_inner {
    width: 165px;
  }
}
.about_features .about_features_inner img {
  max-width: 85px;
}

/* END ABOUT Section */
/* Middle Section */
section.middle {
  background-image: url(../img/home/f2.png);
  background-size: cover;
  min-height: 100vw;
  background-color: #3d415d;
}

/* END Middle Section */
/* Founder Message */
section.founder_message {
  background: #3d415d;
  color: #fff;
}
section.founder_message .title_wrap h1 {
  color: #fff;
}
section.founder_message .title_wrap span {
  color: #9493da !important;
}
section.founder_message p {
  color: #fff;
}
section.founder_message ul li {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  padding: 10px 5px;
  margin-bottom: 15px;
}

/* */
section.project_promotion .project_text_content {
  width: 550px;
  max-width: 100%;
  min-height: 550px;
  background: white !important;
}
section.project_promotion .project_text_content_inner {
  padding: 20px;
}
section.project_promotion .project_wrapper .nav-link {
  background: transparent;
}
section.project_promotion .project_wrapper .nav-link.active .project_inner::after {
  opacity: 1;
}
section.project_promotion .project_wrapper .nav-link.active .project_inner .project_inner_text {
  z-index: 3;
  opacity: 1;
}
section.project_promotion .project_wrapper .nav-link.active .project_inner .project_inner_img img {
  -webkit-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  overflow: hidden;
}

section.nature_safely ul {
  padding-top: 15px;
}
section.nature_safely ul li {
  padding-bottom: 15px;
  font-size: 14px;
}
section.nature_safely ul li i {
  font-size: 24px;
  font-weight: bold;
  margin-right: 5px;
}
@media (min-width: 992px) {
  section.nature_safely .about_mini_info_bottom {
    position: absolute;
    right: -35px;
    margin-top: -100px;
    width: 600px;
    max-width: 100%;
    z-index: 3;
  }
}

section.news .news_slide_in_text {
  position: absolute;
  bottom: 50px;
  left: 0;
  background: rgba(61, 65, 93, 0.8);
  padding: 10px;
  width: 300px;
  max-width: 100%;
  padding: 25px 20px;
}
section.news .news_slide_in_text p {
  margin: 0;
  text-overflow: ellipsis;
  text-transform: uppercase;
  color: #fff;
  font-weight: bold;
  font-size: 13px;
}
@media (min-width: 992px) {
  section.news .news_title_mini {
    margin-left: 85px;
  }
}

section.map {
  overflow-x: hidden;
}
@media (min-width: 1200px) {
  section.map .contact_form {
    position: absolute;
  }
}
section.map .contact_form_inner {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding: 65px 50px;
  min-height: 450px;
  width: 650px;
  border: 1px solid #e9e9e9;
  max-width: 100%;
}
section.map .contact_form_inner div {
  padding: 10px;
}
section.map .contact_form_inner div input,
section.map .contact_form_inner div select,
section.map .contact_form_inner div textarea {
  padding: 10px;
  border: 0;
  border-bottom: 1px solid #c2c2c2;
  border-radius: 0;
}
section.map .contact_form_inner div option {
  color: #c2c2c2;
}

section.reference .swiper_reference .swiper-slide img {
  width: 175px;
}

.project_wrapper .project_inner {
  width: 400px;
  max-width: 100%;
  text-align: center;
  position: relative;
  margin: 20px auto;
}
.project_wrapper .project_inner::after {
  -webkit-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  content: "";
  background: rgba(61, 65, 93, 0.8);
  z-index: 2;
  opacity: 0;
}
.project_wrapper .project_inner .project_inner_text {
  -webkit-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  opacity: 0;
}
.project_wrapper .project_inner:hover::after, .project_wrapper .project_inner.active::after {
  opacity: 1;
}
.project_wrapper .project_inner:hover .project_inner_text, .project_wrapper .project_inner.active .project_inner_text {
  z-index: 3;
  opacity: 1;
}
.project_wrapper .project_inner:hover .project_inner_img img, .project_wrapper .project_inner.active .project_inner_img img {
  -webkit-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  overflow: hidden;
}

@media (max-width: 1199.98px) {
  .heroContent {
    position: absolute;
    left: 4px;
  }
  .heroContent h1, .heroContent span, .heroContent p {
    color: #fff;
  }
  .heroContent .paiCity {
    background: transparent !important;
    color: #fff;
    border: 1px solid #fff;
  }
  .heroContent .mainBtn {
    background: #fff;
    border: 1px solid #fff;
  }
  .heroContent .mainBtn span {
    color: #202020;
  }

  .swiper_hero_top .swiper-slide {
    filter: brightness(60%);
  }
}
@media (max-width: 576px) {
  .about_mini_info_bottom h4 {
    padding-top: 15px;
    font-size: 14px;
  }
  .about_mini_info_bottom span {
    font-size: 12px;
  }
}
.contact_page_form input, .contact_page_form textarea {
  font-size: 16px;
}
.contact_page_form input::placeholder, .contact_page_form textarea::placeholder {
  font-size: 14px;
}

.contact_icons i {
  color: #3d415d;
}
.contact_icons h3 {
  padding-top: 10px;
}

.detail_nav ul li {
  position: relative;
  padding-left: 20px;
  padding: 10px 0px;
  text-align: center;
}
.detail_nav ul li.active {
  color: #7a81b9 !important;
  background: #ededed;
  font-weight: bold;
}
.detail_nav ul li.active::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  height: 100%;
  width: 10px;
  background-color: #3d415d;
}

@media (min-width: 1200px) {
  .icon_wrapper {
    position: absolute;
    bottom: 40px;
  }
}
.icon_wrapper_in {
  background: rgba(61, 65, 93, 0.95);
  text-align: center;
  width: 750px;
  max-width: 100%;
  padding: 10px;
}
.icon_wrapper_in .icon_item span {
  display: block;
  color: #fff;
  padding: 10px 0px;
}
.icon_wrapper_in .icon_item span:nth-child(1) {
  text-transform: uppercase;
  font-size: 14px;
}

.nav-pills .nav-link {
  color: black;
}
.nav-pills .nav-link.active {
  background-color: #e9e9e9;
  color: black;
}

.title_detail_wrap h1 {
  color: #3d415d;
  font-weight: bold;
}
.title_detail_wrap span.plain_type {
  padding-top: 15px;
  font-size: 1.3rem;
  font-weight: 500;
}

.project_detail_backface .swiper-slide {
  margin-right: 30px;
}
.project_detail_backface .navigation-wrap {
  z-index: 4;
  width: 300px;
  height: 200px;
  max-width: 100%;
}
@media (min-width: 1200px) {
  .project_detail_backface .navigation-wrap {
    position: absolute;
    left: 30%;
    bottom: 30%;
  }
}
.project_detail_backface .navigation-wrap .backNav {
  background: #3d415d;
  width: 150px;
  max-width: 100%;
}
.project_detail_backface .navigation-wrap .inNav {
  background: #7a81b9;
  width: 150px;
  max-width: 100%;
}

@media (min-width: 1200px) {
  .project_detail_transport {
    background-image: url(../img/project_detail/project_detail_maps.png);
    background-size: auto;
    background-repeat: no-repeat;
    min-height: 100vh;
  }
  .project_detail_transport .transport_wrapper_in {
    max-height: 150px;
  }
}
.project_detail_transport .transport_wrapper_in {
  width: 800px;
  background: rgba(61, 65, 93, 0.95);
  text-align: center;
  max-width: 100%;
  padding: 10px;
}
.project_detail_transport .transport_wrapper_in .icon_item span {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 11px;
  display: block;
  color: #fff;
  padding: 10px 0px;
}
.project_detail_transport .transport_wrapper_in .icon_item span:nth-child(1) {
  text-transform: uppercase;
  font-weight: bold;
}
.project_detail_transport .transport_wrapper_in .icon_item img {
  width: 30px;
}

@media (min-width: 1200px) {
  .social_wrapper {
    text-align: end;
  }
  .social_wrapper_in {
    width: 900px;
    max-width: 100%;
    max-height: 150px;
  }
  .social_wrapper_in .nav-item h3 {
    font-size: 2rem;
  }
}
.social_wrapper_in {
  background: rgba(61, 65, 93, 0.95);
  text-align: center;
}
.social_wrapper_in .nav-item h3 {
  color: #fff;
  text-align: center;
}
.social_wrapper_in .nav-item h3 span {
  font-size: 0.7rem;
  display: block;
  text-transform: uppercase;
}
.social_wrapper_in .nav-item .nav-link {
  padding: 25px 0px;
}
.social_wrapper_in .nav-item .nav-link.active {
  background: rgba(122, 129, 185, 0.95);
}

.news_text_wrapper {
  position: relative;
  background: rgba(61, 65, 93, 0.95);
  color: #fff;
  z-index: 44;
  padding: 20px;
}
@media (min-width: 1200px) {
  .news_text_wrapper {
    width: 700px;
    font-size: 1.8rem;
    min-height: 80px;
    margin-top: -100px;
    left: -50px;
  }
}

.project_detail_footer {
  background: transparent;
}
.project_detail_footer .footerForm .form-control {
  background: transparent;
  border: 0;
  border-radius: 0;
  border-bottom: 1.5px solid #000;
  color: #111111;
  font-size: 0.9rem;
  margin: 10px 0px;
  position: relative;
}
.project_detail_footer .footerForm .form-control:focus {
  box-shadow: 0;
}
.project_detail_footer .footerForm textarea::placeholder {
  position: absolute;
  bottom: 10px;
}

@media (min-width: 768px) {
  #footers .fp-tableCell {
    height: 530px !important;
    vertical-align: top !important;
  }
}

@media (max-width: 1200px) {
  .icon_wrapper_in {
    display: flex !important;
    overflow-x: scroll;
  }

  .transport_wrapper_in {
    display: flex !important;
    overflow-x: scroll;
  }

  .plain_Nav ul {
    flex-wrap: nowrap;
  }
}
@media (max-width: 576px) {
  .social_wrapper_in h3 {
    font-size: 16px;
  }
  .social_wrapper_in h3 span {
    font-size: 13px;
  }
}
@media (max-width: 1200px) {
  .GraySec {
    --bs-bg-opacity: 1;
    background-color: rgba(var(--bs-light-rgb), var(--bs-bg-opacity)) !important;
  }

  .mobileFonts {
    padding-bottom: 35px;
  }
  .mobileFonts li a {
    font-size: 1.2rem;
  }
}
.catalog_wrapper {
  height: 500px;
  overflow-y: scroll;
}
.catalog_wrapper .btn-download {
  background: #3d415d;
  color: #fff;
  width: 200px;
  padding: 10px;
  border: 1px solid #3d415d;
}
.catalog_wrapper .btn-download i {
  padding-left: 20px;
}
.catalog_wrapper .btn-download:hover, .catalog_wrapper .btn-download:focus {
  background: #232538;
  color: #fff;
}

.karl-viewer-wrap {
  padding: 50px 0px;
}
.karl-viewer-book {
  position: relative;
  min-height: 225px;
}
@media (min-width: 768px) {
  .karl-viewer-book {
    min-height: 650px;
  }
}
@media (min-width: 1200px) {
  .karl-viewer-book {
    position: static;
  }
}
@media (min-width: 1200px) {
  .karl-viewer-content {
    position: absolute;
    right: 0;
    z-index: 987554;
    top: 100px;
    width: calc(100% - 100px);
  }
  .karl-viewer .flipbook-main-wrapper {
    top: 190px;
  }
}

/*# sourceMappingURL=style.css.map */
