@use 'global' as g;
@use 'mixin' as m;
@use 'veriables' as v;


  .catalog_wrapper {
    @include m.responsive(768) {
        height: 500px;
        overflow-y: scroll;
    }
    .btn-download {
        background: v.$darkPurple;
        color: v.$white;
        width: 200px;
        padding: 10px;
        border: 1px solid v.$darkPurple;
        i {
            padding-left: 20px;
        }
        &:hover, &:focus {
            background: #232538;
            color: v.$white;
        }
    }
}