// @use 'mixin' as m;

$black : #202020;
$darkPurple : #3d415d;
$green : #67c176;
$white : #fff;
$orange : #ff8105;
$purple : #7a81b9;
$gray : #ededed;

$maxWidt992  : "max-width:992px" ;
$minWidt768  : "min-width:768px" ;
$minWidt992  : "min-width:992px" ;
$minWidt1200 : "min-width:1200px" ;
$minWidt1366 : "min-width:1366px" ;
$minWidt1500 : "min-width:1500px" ;
$minWidt1600 : "min-width:1600px" ;
$minWidt1900 : "min-width:1900px" ;

@mixin responsive($val, $val2 : null){

  @if ($val == 768) {
    @media (min-width:768px){  @content  }
  };

  @if ($val == 992) {
    @media (min-width:992px){  @content  }
  };

  @if ($val == 1200) {
    @media (min-width:1200px){  @content  }
  }; 

  @if ($val == 1500) {
    @media (min-width:1500px){  @content  }
  }; 

  @if ($val == 1900) {
    @media (min-width:1900px){  @content  }
  } 
};
* {
    font-family: 'Poppins', sans-serif;
    letter-spacing: .5px;
    ::-webkit-scrollbar {
        width: 10px;
        height: 10px;
        cursor: none;
        // height: 10px;
    }

    ::-webkit-scrollbar-track {
        background-color: rgba(212, 212, 212, 0.4);
        border-radius: 10px;
    }

    ::-webkit-scrollbar-thumb {
        background-color: $darkPurple;
        border-radius: 10px;
    }    
  
}
body {
    cursor: none!important;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

p {
    font-size: 16px;
    word-wrap: break-word;
    line-height: 1.6;
    font-weight: lighter;
    letter-spacing: 0px;
    color: $black;
}

input, button, textarea {
    outline: none!important;
    box-shadow: none!important;
}

img {
    max-width: 100%;
    height: auto;
    position: relative;
}

.btn {
    border-radius: 0!important;
}

::selection {
    color: $white;
    background: $darkPurple;
}

// .pointer {
//     cursor: pointer;
// }

.fw-500{
    font-weight: 500;
}

.fs-07{
    font-size: 0.7rem;
}
.fs-08{
    font-size: 0.8rem;
}
.fs-09{
    font-size: 0.9rem;
}


.title_wrap {
    padding-bottom: 30px;
    h1 {
        color: $black;
        font-weight: bold;
        text-transform: capitalize;
        padding: 20px 0px 10px 0px;
        margin: 0; 
        font-size: 3rem;
    }
    span {
        font-size: 18px;
        font-weight: 500;
    }
}


.swiper {
    width: 100%;
    margin: auto;
    .swiper-slide {
        background-size: cover;
        background-position: center;
        text-align: center;
        font-size: 18px;
        background: #fff;
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
        img {
            display: block;
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
    }
}


.mainBtn {
    width: 250px;
    text-align: center;
    overflow: hidden;
    background: $black;
    position: relative;
    border: 1px solid $black;
    padding: 15px 0px;
    font-size: 13px;
    text-transform: uppercase;
    color: $white;
    &::before {
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        transform: translateX(-100%);
        background: #f8f9fa;
        transition: transform .25s ease-in;
    }
    &:hover {
        cursor: pointer;
        color: $black;
        &::before {
            transform: translateX(0);
        }
        span {
            animation: animButtonSpan .4s;

        }
    }
    span {
        position: relative;
        z-index: 1;
        display: block;
    }
}


@keyframes animButtonSpan {
    0% {
        transform: translateX(0);
        opacity: 1
    }

    35% {
        transform: translateX(20px);
        opacity: 0
    }

    50.001% {
        transform: translateX(-20px)
    }

    60% {
        transform: translateX(0)
    }
}

.wrapper {
    padding: 100px 150px;
}


section.newsletter {
    padding: 100px 0px;
    background: {
        image:url(../img/global/newsletter_bg.png);
        size:cover;
    };   
    .input-group {
        input {
        padding: 10px;
        width: 400px;
        max-width: 100%;
        color: $white!important;
        border: {
            radius:0;
            style:solid;
            width:2.5px;
            color:$white;
        }
        background: transparent;
        &::placeholder {
            color: $white;
        }
        &:focus {
            background: transparent;
        }
    }
    a {
        width: 100px;
        font-size: 13px;
        background: #4965ad;
        color: $white;
        border: 1px solid #4965ad;
        position: absolute;
        right: 6px;
        top: 7.5px;
        text-transform: uppercase;
        font-weight: 500;
    }
    } 

}



.gradient_p {
    background: -webkit-linear-gradient(90deg, #fff, #333);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}




.catalog_wrapper {
    height: 500px;
    overflow-y: scroll;
    .btn-download {
        background: $darkPurple;
        color: $white;
        width: 200px;
        padding: 10px;
        border: 1px solid $darkPurple;
        i {
            padding-left: 20px;
        }
        &:hover, &:focus {
            background: #232538;
            color: $white;
        }
    }
}


#cursor {
    backface-visibility: hidden;
    z-index: 1000000000;
    position: fixed;
    width: 40px;
    height: 40px;
    border: 2px solid #4570fc;
    transition: .1s;
    border-radius: 50%;
    pointer-events: none;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
    transition-duration: 100ms;
    transition-timing-function: ease-out;
    &::before {
        content: '';
        position: absolute;
        height: 7px;
        width: 7px;
        border-radius: 100%;
        background-color: transparent;
    }
  }
  

  
