@use 'veriables' as v;

* {
    font-family: 'Poppins', sans-serif;
    letter-spacing: .5px;
    ::-webkit-scrollbar {
        width: 10px;
        height: 10px;
        cursor: none;
        // height: 10px;
    }

    ::-webkit-scrollbar-track {
        background-color: rgba(212, 212, 212, 0.4);
        border-radius: 10px;
    }

    ::-webkit-scrollbar-thumb {
        background-color: v.$darkPurple;
        border-radius: 10px;
    }    
  
}
body {
    // @media(min-width:768px) {
    //     cursor: none!important;
    // }
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

p {
    font-size: 16px;
    word-wrap: break-word;
    line-height: 1.6;
    font-weight: lighter;
    letter-spacing: 0px;
    color: v.$black;
}

input, button, textarea {
    outline: none!important;
    box-shadow: none!important;
}

img {
    max-width: 100%;
    height: auto;
    position: relative;
}


::selection {
    color: v.$white;
    background: v.$darkPurple;
}

// .pointer {
//     cursor: pointer;
// }

.fw-500{
    font-weight: 500;
}

.fs-07{
    font-size: 0.7rem;
}
.fs-08{
    font-size: 0.8rem;
}
.fs-09{
    font-size: 0.9rem;
}


.title_wrap {
    padding-bottom: 30px;
    h1 {
        color: v.$black;
        font-weight: bold;
        text-transform: capitalize;
        padding: 20px 0px 10px 0px;
        margin: 0; 
    }
    span {
        font-size: 18px;
        font-weight: 500;
    }
}


@media(min-width:992px) {
.title_wrap {
    h1 {
        font-size: 3rem;
    }

}
}

@media(max-width:992px) {
    p {
        font-size: 15px;
        line-height: normal;
    }
}


.swiper {
    width: 100%;
    margin: auto;
    .swiper-slide {
        background-size: cover;
        background-position: center;
        text-align: center;
        font-size: 18px;
        background: #fff;
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
        img {
            display: block;
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
    }
}


.mainBtn {
    width: 250px;
    text-align: center;
    overflow: hidden;
    background: v.$black;
    position: relative;
    border: 1px solid v.$black;
    padding: 15px 0px;
    font-size: 13px;
    text-transform: uppercase;
    color: v.$white;
    &::before {
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        transform: translateX(-100%);
        background: #f8f9fa;
        transition: transform .25s ease-in;
    }
    &:hover {
        cursor: pointer;
        color: v.$black;
        &::before {
            transform: translateX(0);
        }
        span {
            animation: animButtonSpan .4s;

        }
    }
    span {
        position: relative;
        z-index: 1;
        display: block;
    }
}


@keyframes animButtonSpan {
    0% {
        transform: translateX(0);
        opacity: 1
    }

    35% {
        transform: translateX(20px);
        opacity: 0
    }

    50.001% {
        transform: translateX(-20px)
    }

    60% {
        transform: translateX(0)
    }
}



@media(min-width:1199.98px) and (max-width:1399.98px) {
    .wrapper {
        padding: 130px 70px;
    }
}

@media(min-width:1400px) {
    .wrapper {
        padding: 150px 100px;
    }
}



section.newsletter {
    padding: 100px 0px;
    background: {
        image:url(../img/global/newsletter_bg.png);
        size:cover;
    };   
    .input-group {
        input {
        padding: 10px;
        width: 400px;
        max-width: 100%;
        color: v.$white!important;
        border: {
            radius:0;
            style:solid;
            width:2.5px;
            color:v.$white;
        }
        background: transparent;
        &::placeholder {
            color: v.$white;
        }
        &:focus {
            background: transparent;
        }
    }
    a {
        width: 100px;
        font-size: 13px;
        background: #4965ad;
        color: v.$white;
        border: 1px solid #4965ad;
        position: absolute;
        right: 6px;
        top: 7.5px;
        text-transform: uppercase;
        font-weight: 500;
    }
    } 

}



.gradient_p {
    background: -webkit-linear-gradient(90deg, #fff, #333);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}



@media (prefers-reduced-motion: no-preference) {
    .App-logo {
      animation: App-logo-spin infinite 15s linear;
    }
  }

@keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }



  @keyframes rotatedLogoSpin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

  .rotatedLogo {
    animation: rotatedLogoSpin infinite 9s linear;
  }