@use 'global'as g;
@use 'mixin'as m;


.detail_nav {
    ul {
        li {
            position: relative;
            padding-left: 20px;
            padding: 10px 0px;
            text-align: center;
            &.active {
                 color: g.$purple!important;
                 background: g.$gray;
                 font-weight: bold;
                 &::after {
                    position: absolute;
                    content: '';
                    top: 0;
                    left: 0;
                    height: 100%;
                    width: 10px;
                    background-color: g.$darkPurple;
                 }
            }
        }
    }
}


.icon_wrapper {
    position: absolute;
    bottom: 40px;
    &_in {
        background: rgba($color: g.$darkPurple, $alpha: .95);
        text-align: center;
        width: 750px;
        max-width: 100%;
        padding: 10px;
        .icon_item {
            span {
                display: block;
                color: g.$white;
                padding: 10px 0px;
                &:nth-child(1) {
                    text-transform: uppercase;
                    font-size: 14px;
                }
            }
        }
    }
}


.nav-pills {
    .nav-link {
        color: black;
        &.active {
            background-color: #e9e9e9;
            color: black;
        }
    }
}

.title_detail_wrap {
    h1 {
        color: g.$darkPurple;
        font-weight: bold;
    }
    span.plain_type {
        padding-top: 15px;
        font-size: 1.3rem;
            font-weight: 500;
    }
}


.project_detail_backface {
    .swiper-slide {
        margin-right: 30px;
        opacity: .5;
        &-duplicate {
            opacity: 5;
            &-active {
                opacity: 1;
            }
        }
        &-active {
            opacity: 1;
        }
      }

      .navigation-wrap {
          z-index: 4;
          width: 300px;
          height: 200px;
          max-width: 100%;
          .backNav {
              background: g.$darkPurple;
              width: 150px;
              max-width: 100%;
          }
          .inNav {
              background: g.$purple;
              width: 150px;
              max-width: 100%;
          }
      }
}



.transport_wrapper {
    &_in {
        background: rgba($color: g.$darkPurple, $alpha: .95);
        text-align: center;
        width: 800px;
        max-width: 100%;
        padding: 10px;
        max-height: 150px;
        .icon_item {
            span {
                text-transform: uppercase;
                font-weight: 500;
                font-size: 11px;
                display: block;
                color: g.$white;
                padding: 10px 0px;
                &:nth-child(1) {
                    text-transform: uppercase;
                    font-weight: bold;
                }
            }
            img {
                width: 30px;
            }
        }
    }
}


.social_wrapper {
    text-align: end;
    &_in {
        background: rgba($color: g.$darkPurple, $alpha: .95);
        text-align: center;
        width: 900px;
        max-width: 100%;
        max-height: 150px;
        .nav-item {
            h3 {
                color: g.$white;
                font-size: 2rem;
                text-align: center;
                span {
                    font-size: .7rem;
                    display: block;
                    text-transform: uppercase;
                }
            }
            .nav-link {
                padding: 25px 0px;
                &.active {
                    background: rgba($color: g.$purple, $alpha: .95);
                }
            }
        }

    }
}




.news_text_wrapper {
    position: relative;
    background: rgba($color: g.$darkPurple, $alpha: .95);
    width: 700px;
    min-height: 80px;
    color: g.$white;
    font-size: 1.8rem;
    margin-top: -100px;
    z-index: 44;
    padding: 20px;
    left: -50px;
}


.project_detail_footer {
    background: transparent;
    .footerForm {
        .form-control {
            background: transparent;
            border: 0;
            border-radius: 0;
            border-bottom: 1.5px solid #000;
            color: rgb(17, 17, 17);
            font-size: .9rem;
            margin: 10px 0px;
            position: relative;
            &:focus {
                box-shadow: 0;
            }
        }
        textarea {
            &::placeholder {
                position: absolute;
                bottom: 10px;
            }
        }
    }
}

#footers {
    .fp-tableCell {
        height: 500px!important;
        vertical-align: top!important;
    }
}

